

<!DOCTYPE html>
<html>
	<head>
	<title>Isbn Database Validator</title>
	    <link href="/css/style.css" rel="stylesheet">

	</head>
	<body>
		<div class="center">
		<h1 class="center">ISBN Number Validator</h1>
		<h4 class="center"> Check Your isbn number</h4>
		
		<form action="/add" method="POST">
		<input  pattern=".{10,20}" required  name="add_isbn_number" oninvalid="this.setCustomValidity('Isbn numbers only contain 10 or 13 numbers')">
		<input type="submit" name="submit">
		</form>
		</div>
		<table style="width:60%; margin-top: 22px;" align="center">
			<tr>
			<th>Isbn Numbers</th><th>Validity</th>
			</tr>
		<% select.each do |numbers| %>

			<tr>
				<td><%=numbers["isbn"]%></td><td><%=numbers["validity"]%></td>
			</tr>
					<%end%>

		</table>
		  

		
		
		</form>
	</body>
</html>